@import "tailwindcss";
@layer base {
    body {
        @apply bg-[#fbf8f9];
        
    }
}
@layer components {
    @keyframes slide-up {
        from {
            transform: translateY(10px);
            opacity: 0;
        }
        to {
            transform: translateY(0);
            opacity: 1;
        }
    }
    .slide-up {
        animation: slide-up 0.3s ease-in-out;
    }
    .Category-button{
        >{
            @apply text-black transition-colors cursor-pointer py-1 font-semibold text-sm tracking-wider;
        }
       
    }
    
}